*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI";
    color: white;
    font-weight: bold;
    font-size: 0.5em;
}
#fullScreen,#daoZhuan{
    text-align: center;
    width: 5%;
    height: 3%;
    top: 4.5%;
    position: absolute;
    left: 10%;
    /*line-height: 3%;*/
    background-color: red;
    z-index: 101;
    border-radius: 20%;
    /*text-align: center;*/
}
#daoZhuan{
    top: 15%;
    background-color: green;
}
#yemian{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: darkgreen; */
    background-image: url("img/background.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size:100% 100%;

}
#showlaizi{
    text-align: center;
    width: 5%;
    height: 13%;
    top: 4.5%;
    position: absolute;
    left: 3%;
    background-size:100% 100%;
    background-image: url("img/自己手牌.png");
}
#hupai{
    height: 6%;
    width: 4.2%;
    background-color: darkgreen;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Arial;
    border-radius: 6% 6% 6% 6%;
    left: 70%;
    top: 70%;
    z-index: 2;
    position: absolute;
    display: none;
}
#pengpai{
    height: 6%;
    width: 4.2%;
    background-color: darkgreen;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Arial;
    border-radius: 6% 6% 6% 6%;
    left: 65%;
    top: 70%;
    z-index: 2;
    position: absolute;
    display: none;
}
#xiaopai{
    height: 6%;
    width: 4.2%;
    background-color: darkgreen;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Arial;
    border-radius: 6% 6% 6% 6%;
    left: 75%;
    top: 70%;
    z-index: 2;
    position: absolute;
    display: none;
}
#buyao{
    height: 6%;
    width: 6%;
    background-color: darkgreen;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Arial;
    border-radius: 6% 6% 6% 6%;
    left: 85%;
    top: 70%;
    z-index: 5;
    position: absolute;
    display: none;
}
#chupai{
    height: 6%;
    width: 6%;
    background-color: darkgreen;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Arial;
    border-radius: 6% 6% 6% 6%;
    left: 80%;
    top: 70%;
    z-index: 2;
    position: absolute;
    display: none;
}
#buyao{
    z-index: 2;
    display: none;
}
#chupaiqu{
    position: absolute;
    width: 50%;
    height: 12%;
    bottom: 9%;
    left: 50%;
    /* background-color: blue; */
}
#chupaiqu img{
    position: absolute;
    /*background-color: yellow;*/
    background-size: 100% 100%;
    right:0;

}

#myDiscard{
    position: absolute;
    width: 35%;
    height: 15%;
    top: 60%;
    left: 33%;
    /*background: yellow;*/
    /*opacity: 0.6;*/
    /*filter:alpha(opacity=60);*/
    /*-moz-opacity:0.6;*/
}
/*#myDiscard img{*/
    /*position: absolute;*/
    /*height: 62%;*/
    /*width: 8%;*/
    /*background-image: url(img/自己出牌对家出牌对家碰牌.png);*/
    /*background-repeat: no-repeat;*/
    /*!* background-position: 25%,0%; *!*/
/*}*/